.idea/
.gradle/
.vscode/
classes/
build/
eclipse/
logs/
mods/
out/
run/
*.iml
*.ipr
*.iws
MinecraftForge*.txt
CREDITS*
LICENSE-fml*
*changelog.txt
README.txt
/bin/
*.hprof
/.gradle/
/build/

# Exclude all Mac DS_Store files
/**/.DS_Store

# Exclude all Windows stuff
/**/Thumbs.db

# Eclipse stuff
/.settings/
/.project
/.classpath
/.checkstyle
/MineColonies_Client.launch
/MineColonies_Server.launch

# Old launcher (different case)
/minecolonies_Client.launch
/minecolonies_Server.launch

tools/export_lang/.api_key
tools/fix_model_angle/*.class

run2/

runClient/

libs/
