# Minecolonies
#public net.minecraft.block.DoorBlock func_176509_j()Lnet/minecraft/item/Item; # getItem
#public net.minecraft.block.BlockStem func_176481_j()Lnet/minecraft/item/Item; # getSeedItem

# Schematica
#public net.minecraft.client.renderer.chunk.ChunkRenderDispatcher field_178524_h # queueChunkUploads
#public net.minecraft.client.renderer.chunk.ChunkRenderDispatcher func_178506_a(Lnet/minecraft/client/renderer/VertexBuffer;Lnet/minecraft/client/renderer/vertex/VertexBuffer;)V # uploadVertexBuffer

#public net.minecraft.client.renderer.chunk.RenderChunk field_178588_d # world

#public net.minecraft.client.renderer.ViewFrustum func_178161_a(Lnet/minecraft/util/math/BlockPos;)Lnet/minecraft/client/renderer/chunk/RenderChunk; # getRenderChunk

#public net.minecraft.nbt.CompoundNBT func_150298_a(Ljava/lang/String;Lnet/minecraft/nbt/INBT;Ljava/io/DataOutput;)V # writeEntry
#public net.minecraft.world.gen.structure.template.Template field_186270_a # blocks
#public net.minecraft.world.gen.structure.template.Template field_186271_b # entities

#public net.minecraft.tileentity.TileEntityBeacon field_146015_k # isComplete of beacon
#public net.minecraft.tileentity.TileEntityBeacon field_146012_l # Levels of beacon

#public net.minecraft.client.network.NetHandlerPlayClient field_147300_g #ClientWorld during sync.

#public-f net.minecraft.util.text.TextComponentBase func_150254_d()Ljava/lang/String; #Remove the damn final so we can reset the styling.

public net.minecraft.network.play.ServerPlayNetHandler field_147368_e # networkTickCount

#public net.minecraft.client.renderer.entity.RenderManager field_78725_b # renderPosX
#public net.minecraft.client.renderer.entity.RenderManager field_78726_c # renderPosY
#public net.minecraft.client.renderer.entity.RenderManager field_78723_d # renderPosZ

#public net.minecraft.creativetab.CreativeTabs field_78033_n # index

#public net.minecraft.tileentity.MobSpawnerBaseLogic field_98289_l # activatingRangeFromPlayer

#public net.minecraft.inventory.InventoryCrafting field_70465_c # eventHandler

public net.minecraft.item.crafting.RecipeManager func_215366_a(Lnet/minecraft/item/crafting/IRecipeType;)Ljava/util/Map; # getRecipes